body {
  background-color: rgb(13, 13, 39);
}

.App {
  text-align: center;
}

.main_h1 {
  color: #fff;
  margin-top: 50px;
  font: 700 42px / 42px sans-serif;
  user-select: none;
}
.main_h2 {
  color: #fff;
  margin-top: 50px;
  font: 700 36px / 36px sans-serif;
  user-select: none;
}
