.input_todo {
  padding: 15px 20px;
  border: 0;
  border-radius: 12px;
  width: 60%;
  outline: 0;
  font: 700 16px / 16px sans-serif;
  user-select: none;
  box-shadow: 2px 2px 4px 4px #06021b;
}

.main_form_btn {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}
